# Port number
PORT=3000
NODE_ENV=developement
# URL of the Mongo DB
MONGODB_URL=mongodb://localhost:27017/boilerplate
IMAGE_URL= http://localhost:3000/uploads/


# JWT
# JWT secret key
JWT_SECRET=thisisasamplesecret
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30000
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30000
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=1000
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=100


# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
EMAIL_FROM="roma.dooley91@ethereal.email"
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=roma.dooley91@ethereal.email
SMTP_PASSWORD=kJRjsn7jTPFtPBAtxM

BACKEND_URL=http://localhost:3000